<!-- <div class="file-upload-container" (drop)="onFileDropped($event)" (dragover)="onFileDraggedOver($event)">
    <h1>Bulk File Upload</h1>
    <div class="file-upload-drop-area" *ngIf="!isFileSelected && !isFileDragging">
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        <p>Drag & drop files here<br />or</p>
    </div>
    <input type="file" #fileInput hidden (change)="onFileSelected($event)">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Browse</button>
    <span *ngIf="fileName" class="file-name">{{ fileName }}</span>
    <button mat-raised-button color="accent" *ngIf="isFileSelected" (click)="clearFile()">Clear</button>
</div> -->


<div style="padding: 15px;">
    <div>
        <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
            <div class="text-wrapper">
                <div class="centered">
                    <input type="file" name="file" id="file" (change)="onFileChange($event)" multiple>
                    <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3 mat-subheader>Files</h3>
    <div class="row fileItem" *ngFor="let f of files; let ind = index">
        <div class="col-sm-12 fileItemIconDiv">
            <i class="fa-6x fileItemIcon"></i>
        </div>
        <div class="col-sm-12 fileItemText">
            <span>{{f.name}}</span>
        </div>
    </div>
</div>