<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row mt-5">
                <h2>Staff</h2>
                <div class="col-4">
                    <label class="form-label ms-2">First Name <b>:</b></label>
                    <input type="text" placeholder="Enter FirstName" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label ms-2">Middle Name <b>:</b></label>
                    <input type="text" placeholder="Enter MiddleName"  class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label ms-2">Last Name <b>:</b></label>
                    <input type="text" placeholder="Enter LastName"  class="form-control">
                </div>  
            </div>

        </div>

    </div>

</div>
