.bg-color{
    background-color: white;
    width:99%;
}
.mat-input{
    width:55px
}
.flex-item {
    flex: 1; /* Each field takes equal space */
    margin-right: 11px; /* Optional: Adjust margin between fields */
    width:24%
  }