
tr.table-row:hover{
    background-color:whitesmoke;
    color:cadetblue;
}
.table-shadow{
    box-shadow: none;
}
tr.table-header{
    background-color: black;
    color:white;
}

.form-control::file-selector-button{
    background-color:forestgreen
}
  