.sidenav-wrapper {
   position: absolute;
   top:60px;
   bottom: 0;
   left: 0;
   right: 0;
   background: #eee;
  }
  mat-drawer{
    width:100px;
  }

  .opensideBar{
    width:160px;
  }

.mat-container{
  width:98%;
}
  
